# local / secret
local.properties
*.keystore
*.jks

# Gradle / Android build outputs
.gradle/
**/build/
**/out/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml

# Kotlin/Java compiled
*.class

# OS junk
.DS_Store
Thumbs.db
